* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style-position: inside;
}

li ul {
    padding-left: 2em;
}

body>header {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    padding: 2em 1em;
    background-color: #FECB2F;
}

main {
    display: inline-block;
    vertical-align: top;
    left: 15%;
    width: 38%;
    padding: 2em;
    background-color: bisque;
}

body>section {
    display: inline-block;
    top: 0px;
    left: 53%;
    width: 15%;
    background-color: cadetblue;
    overflow: auto;
}

body>section>article {
    padding: 2em;
    display: inline-block;
    vertical-align: top;
    height: 10em;
    overflow: auto;
}

body>section>article:nth-child(2) {
    background-color: blueviolet;
}

body>section>article:nth-child(3) {
    background-color: deeppink;
}

body>section>article:nth-child(4) {
    background-color: azure;
}

body>section>article:nth-child(5) {
    background-color: aquamarine;
}

body>section>article:nth-child(6) {
    background-color: coral;
}

aside {
    display: inline-block;
    vertical-align: top;
    left: 68%;
    width: 15%;
    padding: 2em;
    background-color: darkkhaki;
}

body>footer {
    display: inline-block;
    vertical-align: top;
    left: 83%;
    width: 15%;
    padding: 2em;
    background-color: #E29653;
}

body > section > article:nth-child(6)
